<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- TODO #1 - Use a loop to display job results in a table. -->
  <div>
    <th:block th:each="job : ${tableChoices}">
      <tr>
        <td th:text="${job.employer}"></td>
        <td th:text="${job.value}"></td>
      </tr>
      <tr>
        <td th:text="${job.location}"></td>
        <td th:text="${job.location.get()}"></td>
      </tr>
      <tr>
        <td th:text="${job.positionType}"></td>
        <td th:text="${job.positionType.get()}"></td>
      </tr>
      <tr>
        <td th:text="${job.coreCompetency}"></td>
        <td th:text="${job.coreCompetency.get()}"></td>
      </tr>

    </th:block>
  </div>
</div>

</body>